/* src/components/admincomponent/sidebar/AdminSidebar.module.css */

.sidebar {
  background-color: #212529;
  color: white;
  min-height: 100vh;
  width: 200px;
  /* max-width: 180px; */
  padding: 1rem;
  flex-shrink: 0;  
}

.link {
  color: white;
  padding: 8px 12px;
  display: block;
  text-decoration: none;
}

.link:hover {
  background-color: #343a40;
  border-radius: 4px;
}


.sidebar a:hover {
  background-color: #495057;
}