html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex: 1; /* Takes remaining vertical space */
}

/* Footer styles */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.95rem;
  margin-top: auto; /* pushes it to bottom when space is available */
}

.footer a:hover {
  text-decoration: underline;
  color: #dcdcdc !important;
}

.productcont{
  margin-top: 5rem;
}